.topnav {
    overflow: hidden;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.profile-nav {
    display: flex;
    justify-content: flex-start;
}

.login-nav {
    display: flex;
    justify-content: flex-end;
}

.topnav a {
    display: block;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    color: #0f0;
    transition: all 0.5s ease;
    font-family: 'Lucida Sans';
}

.topnav a:hover {
    color: white;
}

.topnav .profile-nav img {
    width: 3em;
}

.login-nav .active {
    color: white;
}

.topnav .login-nav .back-to-portfolio {
    color: #f00;
    border: 1px solid #f00;
    margin: 5px 5px 0 0px;
}

.topnav .login-nav .back-to-portfolio:hover {
    color: white;
    background-color: #f00;
}