body {
    margin: 0;
    font-family: 'Lucida Sans';
    background-image: url(../images/mainbg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navigation a {
    text-decoration: none;
    color: teal;
    border: 1px solid teal;
    padding: 10px;
    border-radius: 5px;
}

.navigation a:hover {
    color: white;
    background-color: teal;
    transition: 0.2s ease;
}

.navigation a:not(hover) {
    transition: 0.2s ease;
}