body {
    margin: 0;
    font-family: 'Lucida Sans';
    background-image: url(../images/mainbg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    min-height: 16rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

header > * {
    z-index: 1;
}

header::after {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.add-post {
    position: fixed;
    background-color: #004186;
    z-index: 1;
    top: 90%;
    left: 95%;
    font-size: 2em;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.add-post:hover {
    background-color: #002349;
    cursor: pointer;
    transform: translate3d(0, -1px, 0);
    transition: all 0.2s ease;
}

.add-post:not(hover) {
    transition: 0.2s ease;
}

.add-post a {
    color: white;
    text-decoration: none;
}

footer {
    min-height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}

.navigation a {
    text-decoration: none;
    color: teal;
    border: 1px solid teal;
    padding: 10px;
    border-radius: 5px;
}

.navigation a:hover {
    color: white;
    background-color: teal;
    transition: 0.2s ease;
}

.navigation a:not(hover) {
    transition: 0.2s ease;
}